<h1>Flights</h1>

<h2>Search flights</h2>
<%= form_with url: "/flights", method: :get do |form| %>

<h3>From</h3>
<%= form.select(:from, @cities, {selected: params['from']}) %>

<h3>To</h3>
<%= form.select(:to, @cities, {selected: params['to']}) %>

<h3>Passengers</h3>
<%= form.select(:passengers, (1..4) )%>

<h3>Date</h3>
<%= select_tag(:date, options_for_select(@dates, params['date'])) %>

<br>
<br>
<br>

<%= form.submit 'Search' %>

<% end %>

<% unless params['commit'].nil? %>
  <h2>Search results</h2>

  <% if @flights.length > 0 %>
    <%= form_with url: "/bookings/new", method: :get do |form| %>
      <%= form.collection_radio_buttons(:flight, @flights, :to_s, :to_s, html_options: { class: 'form-control' }) do |b| %>
        <%= b.label { b.radio_button + " " + b.text } %><br>
      <% end %>
      <br>
      <%= form.submit 'Book flight' %>
    <% end %>
  <% else %>
    <p>No flights found matching the criteria...</p>
  <% end %>
<% end %>
