<h1>New Booking</h1>

<%= form_with url: '/bookings/', method: :post do |form| %>
  <h2>Flight Info</h2>
  <p><%= Flight.find(params['flight_id']) %></p>
  <%= form.hidden_field(:flight_id, value: params['flight_id']) %>

  <h2>Passenger Info</h2>
  <%= form.fields_for @passenger do |f| %>
    <p>Name: </p>
    <%= f.text_field :name %>
    <br>
    <p>Email: </p>
    <%= f.text_field :email %>
    <br><br>
  <% end %>
  <%= form.submit %>
<% end %>
